themes/*

# But keep the subfolder "theme/" inside each theme
!themes/*/theme/
!themes/*/theme/**

# Still ignore any *.docx (packaged themes)
*.docx

poi-playground/*

!poi-playground/src
!poi-playground/pom.xml